.app-header{
  text-align: center;
  margin: 0;
  padding: 20px;
  color: white;
  font-weight: 900;
  background-color: black;
}

.hero{
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
}

.searchForm{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.searchForm input,.searchForm button{
  width: 250px;
  padding: 6px;
  border-radius: 4px;
}

.searchForm input{
  border: 1px solid lightgrey;
  outline: none;
}

.searchForm button{
  border: none;
  background-color: black;
  color: white;
}

.gituser{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin-top: 20px;
  height: 120px;
  padding: 10px;
  border-radius: 4px;
  background-color: black;
}

.users{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.footer{
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: large;
  font-weight: bolder;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.userLogo{
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}